.main_chat
  .main_chat__header
    .main_chat__header__group
      .main_chat__header__group__top
        test
      .main_chat__header__group__bottom
        Member：
        %ul
          - @group.users.each do |user|
            %li= user.name
    .main_chat__header__group__edit
      = link_to edit_group_path(@group.id) do
        Edit
  .MessageField
    = render @messages
  .main_chat__message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__contents
        = f.text_field :content, class: 'form__text', placeholder: 'type a message'
        = f.label :image, class: 'form__image' do
          = icon('far', 'image', class: 'form__icon')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'submit-btn'

